{% load staticfiles %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NoRumors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">

      </ul>
      <form class="form-inline my-2 my-md-0">
      {% if user.is_authenticated %}    
          <a class="py-2 btn " href="{% url 'query' %}" style="color:gray;text-transform: uppercase; "><b>{{user.username}}</b></a>
          <a class="py-2 btn " href="{% url 'logout' %}?next=/"style="color:white;text-transform: uppercase; "><b>Log out</b></a>
      {%else%}
          <a class="py-2 btn " href="{% url 'login' %}"style="color:gray;text-transform: uppercase; "><b>Log In</b></a>
      
          <a class="py-2 btn " href="{% url 'register' %}"style="color:gray;text-transform: uppercase; "><b>Sign In</b></a>
      {%endif%} 
      </form>
    </div>
  </nav>