{%extends 'base.html' %}
{%load static%}
{% load render_table from django_tables2 %}
{%block content%}
<div class='container shadow-sm' >
<div class="card-deck">
    <div class="card card-default d-flex p-2 border-light rounded-0 shadow-sm">
        <div class="card card-default d-flex border-dark shadow-sm">
                <!--- Голова карты-->
                <div class="card-header border-dark bg-dark text-white text-center">
                        <h2 class="card-title-middle ">Запрос</h2>
                </div>
                <!--- Тело карты-->
                <div class="card-body">
                    <p class="card-text"><h5>Для работы в приложении необходимо ввести текст запроса:</h5></p>

                    <form role="form" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class='row'>
                                <div class='col-sm-8'>

                                </div>
                            </div>
                        </div>
                        <!--- Футер карты-->
                        <div class="card-footer bg-dark text-center">
                                <div class='col align-self-center'>
                                        <button type='Submit' href="{% url 'query' %}"  class='btn btn-outline-light'>Отправить</button> 
                                </div>
                        </div>
                    </form> 
        </div>

    </div>
    <div class="card d-flex p-2 border-light rounded-0 shadow-sm">
        <div class="card  border-dark shadow-sm">
                <!--- Голова карты-->
                <div class="card-header border-dark bg-dark text-white text-center">
                        <h2 class="card-title-middle ">Прошлые запросы:</h2>
                </div>
                <!--- Тело карты-->
                <div class="card-body">
                    <ul class="list-group">
                    {% render_table past_query|default_if_none:"Запросов еще не было"%}
                    </ul>
                </div>
                        <!--- Футер карты-->
                <div class="card-footer bg-dark text-center">
                        <div class='col align-self-center'></div>
                </div>

        </div>

    </div>
</div>
{%endblock content%}